<footer class="px-10 py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3" style="margin-left: 25%;">
        <h5>CUSTOMER</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HELP/FAQS</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">TRACK ORDER</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SIZE GUIDE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">BUYING GUIDE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">HOW DO I SHOP?</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FIND PLACES WE DELIVER</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">STYLE HUB</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>STORE AND SITES</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ABOUT US</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CONTACT US</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CORPORATE SITE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">STORE LOCATOR</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">CAREERS</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">SITEMAP</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>POLICIES</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">TERMS OF USE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PRIVACY</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">DELIVERY POLICY</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">EXCHANGES & RETURNS</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top" style="margin-left: 25%;">
      <p>© 2024 Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>